<div id="posts-container"></div><!--add laoding and laso move script of the rendered page, also add button for delet edit comment buttons-->

<script>
    async function fetchPost() {
        const postId = window.location.pathname.split('/').pop(); //get postId from URL
        const token = localStorage.getItem('token'); 
        const guestToken = localStorage.getItem('guestToken'); //get JWT token from localStorage
        const headers = {
        'Content-Type': 'application/json'
        };

        if (token) {
        headers['Authorization'] = `Bearer ${token}`; //add token if available
        } else if (guestToken) {
            headers['Authorization'] = `Bearer ${guestToken}`; //add guest token if available
        } else {
            //if neither token is available, redirect to login or show a message
            alert('Please log in or continue as a guest to view posts.');
            return; 
        }

        try {
            const response = await fetch(`/api/post/${postId}`, {
                method: 'GET',
                headers: headers
        });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const { post, user } = await response.json();
            displayPost(post, user, postId);
        } catch (error) {
            console.error('Error fetching post:', error);
            displayError('Failed to fetch post. Please try again later.');
        }
    }

    function displayPost(post, user, postId) {
        document.title = `${post.title}`;
        const postsContainer = document.getElementById('posts-container');
        const postElement = document.createElement('div');
        postsContainer.innerHTML = '';
        postElement.innerHTML = `
            <strong>${post.author.username}</strong>:
            <h3>${post.title}</h3>
            <p>${post.body}</p>
            <p><strong>Published:</strong> ${post.published ? 'Yes' : 'No'}</p>
            <p><strong>Created At:</strong> ${new Date(post.createdAt).toLocaleString()}</p>
            <h4>Comments:</h4>
            <ul id="comments-list">
            ${post.comments.length > 0 ? post.comments.map(comment => `
                <li id="comment-${comment._id}">
                    ${comment.text} - <em>by ${comment.author ? comment.author.username : 'Unknown'}</em>
                    on ${new Date(comment.createdAt).toLocaleString()} 
                   ${user.role === 'admin' || (comment.author && comment.author._id === user._id) ? `
                    <button onclick="deleteComment('${comment._id}')">Delete</button>
                    <button onclick="showEditForm('${comment._id}', '${comment.text}')">Edit</button>
                ` : ''}
                </li>
                <form id="edit-form-${comment._id}" class="edit-form" style="display: none;" onsubmit="submitEditComment(event, '${comment._id}')">
                        <textarea id="edit-text-${comment._id}" required>${comment.text}</textarea>
                        <button type="submit">Update</button>
                        <button type="button" onclick="hideEditForm('${comment._id}')">Cancel</button>
                </form>
                `).join('') : '<li>No comments yet.</li>'}
            </ul>
        `;

        
        if (localStorage.getItem('token')) { 
            postElement.innerHTML += `
            <form id="comment-form">
                <textarea id="comment-text" required placeholder="Add a comment..."></textarea>
                <button type="submit">Submit</button>
            </form>
            `;
        } else {
            postElement.innerHTML += `
            <p>Please <a href="/signup">sign up</a> or <a href="/login">log in</a> to comment.</p>
            `;
        }

        if (user.role === 'admin') {
            postElement.innerHTML += `
                <a href='/post/${postId}/edit'>
                    Edit Post
                </a>
            `;
        }

        postsContainer.appendChild(postElement);

        
        const commentForm = document.getElementById('comment-form');
        if (commentForm) {
            commentForm.addEventListener('submit', submitComment);
        }

        post.comments.forEach(comment => {
            const editForm = document.getElementById(`edit-form-${comment._id}`);
                if (editForm) {
                    editForm.addEventListener('submit', function(event) {
                        editComment(event, comment._id);
                    });
                }
        });
    }

    async function submitComment(event) {
        event.preventDefault();
        const commentText = document.getElementById('comment-text').value;
        const postId = window.location.pathname.split('/').pop();
        const token = localStorage.getItem('token');
        try {
            const response = await fetch(`/api/post/${postId}/comment`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ text: commentText }),
            });

            if (!response.ok) {
                throw new Error('Failed to submit comment');
            }

            //refresh the post to show the new comment 
            fetchPost();
        } catch (error) {
            console.error('Error submitting comment:', error);
            displayError('Failed to submit comment. Please try again.');
        }
    }

    async function deleteComment(commentId) {
        const postId = window.location.pathname.split('/').pop();
        const token = localStorage.getItem('token');
        try {
            const response = await fetch(`/api/post/${postId}/comment/${commentId}/delete`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            });

            if (!response.ok) {
                throw new Error('Failed to delete comment');
            }

            //refresh the post to show the new comment 
            fetchPost();
        } catch (error) {
            console.error('Error  comment:', error);
            displayError('Failed to delete comment. Please try again.');
        }
    }

    function showEditForm(commentId, currentText) {
        document.getElementById(`edit-form-${commentId}`).style.display = 'block';
        document.getElementById(`edit-text-${commentId}`).value = currentText;
    }

    function hideEditForm(commentId) {
        document.getElementById(`edit-form-${commentId}`).style.display = 'none';
    }

    async function editComment(event, commentId) {
        event.preventDefault();
        const postId = window.location.pathname.split('/').pop();
        const token = localStorage.getItem('token');
        const newText = document.getElementById(`edit-text-${commentId}`).value;
        try {
            const response = await fetch(`/api/post/${postId}/comment/${commentId}/edit`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ text: newText })
            });

            if (!response.ok) {
                throw new Error('Failed to delete comment');
            }

            const updatedComment = await response.json();
            console.log('Comment updated:', updatedComment);

            //refresh the post to show the new comment 
            fetchPost();
        } catch (error) {
            console.error('Error  comment:', error);
            displayError('Failed to edit comment. Please try again.');
        }
    }

    function displayError(message) {
        const errorElement = document.createElement('div');
        errorElement.textContent = message;
        errorElement.style.color = 'red';
        document.body.insertBefore(errorElement, document.body.firstChild);
    }

    document.addEventListener('DOMContentLoaded', fetchPost);
</script>